<html>

<head>
    <title>arithmetic</title>
    <style>
        body {
            font-family: Helvetica, Arial, sans-serif;
            font-size: 12px;
        }

        h1 {
            font-size: 1.5em;
        }

        h2 {
            font-size: 1.2em;
        }
    </style>
</head>

<body>
    <h1>this is H1 tag</h1>
    <div>
        <p>array </p>
    </div>
    <script>
        // 算法基础知识
        console.log(find('c',[0,1,'c',3,4,5,6,7,8]))
        function find (item,arr){
            for (let i=0;i<arr.length;i++){
                if (arr[i]==item)return i
            }
        }

    </script>
</body>

</html>