<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>event</title>
</head>

<body>
    <ul id="ul">
        <li>我是1</li>
        <li>我是2</li>
        <li>我是3</li>
        <!-- this is some nots -->
    </ul>
    <script>
        let u = document.getElementById('ul')
        u.onclick = function (a) {
            console.log(this)
            console.log(event)
            console.log(arguments)
            this.innerHTML = '<hr>' //变成了一条线
        }
        
    </script>
</body>

</html>