<html>

<head>
    <title>number
    </title>
    <style>
        body {
            font-family: Helvetica, Arial, sans-serif;
            font-size: 12px;
        }

        h1 {
            font-size: 1.5em;
        }

        h2 {
            font-size: 1.2em;
        }
    </style>
</head>

<body>
    <h1>this is H1 tag</h1>
    <h2>this is H2 tag</h2>
    <script>
        //*****************************Math.sign()方法用来判断一个数到底是正数、负数、还是零。对于非数值，会先将其转换为数值。
        Math.sign(-5) // -1
        Math.sign(5) // +1
        Math.sign(0) // +0
        Math.sign(-0) // -0
        Math.sign(NaN) // NaN
        
    </script>
</body>

</html>