<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>some dom codes</title>
</head>

<body>
    <ul id="ul">
        <li>我是1</li>
        <li>我是2</li>
        <li>我是3</li>
        <!-- this is some nots -->
    </ul>
    <script>
        window.onload  =  function(){
            // innerHtml和innerText的区别
            let oUl = document.getElementById('ul')
            console.log('innerHTML>>>>',oUl.innerHTML)//打印ul标签下的所有节点
            console.log('innerText>>>>',oUl.innerText)//只打印ul标签下的所有文本节点
            oUl.innerText = 'I was change html' //子节点'<li>'被替换了
        }
    </script>
</body>

</html>