<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>var</title>
</head>

<body>
    <ul id="ul">
        <li>1</li>
    </ul>
    <script>
        //全局变量
        var pubVar = 'This is global variable'
        window.onload = function () {
            console.log(window.pubVar)//This is global variable
            //通常我们会省略window关键字
            console.log(pubVar)//This is global variable

            //**************************查询标识符,自下而下,现在自己作用域中找,如果找不到再往上找
            var color = 'blue'
            var size = '18cm'
            function getColor() {
                var color = 'red'  //先找到这个color 
                console.log(color) // red
                console.log(size)  // undefined ,在自己作用域中找到了size 但,size在打印之前还没有初始化所以undefined
                var size = '20cm'  //先找到这个size 
            }
            getColor()
            // *************************私有变量
            function MyObject() {
                var privateVar = 1;
                function privateMethod() {
                    console.log(privateVar)
                }//公共方法
                this.publicMethod = function () {
                    privateVar++
                    return privateMethod()
                } ;
            }
            var person1 = new MyObject();
            ; person1.publicMethod();
            console.log(person1)

        };

        // *************************私有变量
        ; (function () {
            var privateVar = 10
            function privateFun() {
                return false
            }
            MyObject = function () { }
            MyObject.prototype.publicMethod = function () {
                privateVar++
                return privateFun()
            }

        })()
        console.log(MyObject)

        //***************************let块级作用域
        if (true) {
            let age = '22'
        }
        //console.log(age) ReferenceError: age is not defined
        for (let i = 0; i < 2; i++) {
            //...
        }
        //console.log(i) ReferenceError: age is not defined

        //***************************var
        console.log(a);//undefined 预解析时没有赋值 没毛病老铁
        var a = 10;

        b = 10 //默认是全局变量
        var b;  //忽略这个声明
        console.log(b) //10

    </script>
</body>

</html>