<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>var</title>
</head>

<body>
    <ul id="ul">
        <li>1</li>
    </ul>
    <script>
        window.onload = function () {
            // *************************私有变量
            function MyObject() {
                var privateVar = 1;
                function privateMethod () {
                    console.log(privateVar)
                }//公共方法
                this.publicMethod = function () {
                    privateVar++
                    return privateMethod()
                }

            }
            var person1 = new MyObject();
            ;person1.publicMethod();
            console.log(person1)

        };

                    // *************************私有变量
                    ;(function(){
                        var privateVar = 10
                        function privateFun (){
                            return false 
                        }
                        MyObject = function(){}
                        MyObject.prototype.publicMethod = function(){
                            privateVar++
                            return privateFun()
                        }

                    })()
                    console.log(MyObject)
    </script>
</body>

</html>